.navbar-default {
    background-color: #fff !important;
    border-color: #fff !important;
}
.navbar-header {
    float:none !important;
    display:inline-block !important;
    vertical-align:middle !important;
    margin-right:-4px !important;
}
.dropdown:hover .dropdown-menu {
   display: block;
}
nav {
    text-transform: uppercase;
    letter-spacing: 2px !important;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.dropdown-menu>li>a:hover,
a.menu_link:hover {
    background-color: rgba(85,255,157,.08);
    border-bottom: 4px solid rgba(85,255,157,.8);
    -webkit-transition: border-bottom .2s ease; 
    transition: border-bottom .2s ease;
}
/*comp blue to the site green
rgba(72,255,253,1)*/


