* {
    font-family: 'Raleway';
    letter-spacing: 1px;
}

.space {
    margin-top: 25px;
    padding-top:25px;
}

.firstcharacter {
  color: #5dd097;
  float: left;
  font-family: 'Raleway';
  font-size: 120px;
  line-height: 120px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.tag-line {
    font-size: 42px;
}
.service-text {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1.5px;
}
.service-icons {
    margin-bottom: .3em;
    margin-right: .6em !important;
}