<hr>
<footer>
  <div class="space"></div>
  <div class='container'>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p class="text-muted"><i class="fa fa-copyright" aria-hidden="true"></i>&nbsp; 2013-2017 DSAC LLC. All rights reserved</p>
        <p class="text-center">
          <a href="#"><i class="fa fa-facebook fa-border fa-2x fa-fw" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="#"><i class="fa fa-twitter fa-border fa-2x fa-fw" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="#"><i class="fa fa-linkedin fa-border fa-2x fa-fw" aria-hidden="true"></i></a>&nbsp;&nbsp;
        </p>
      </div>
    </div>
  </div>
</footer>
<div class="space"></div>