{% extends "base.html" %}
{% block content %}
<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <p class="tag-line">
        <span class="firstcharacter">W</span>e specialize in Web Applications for Small Buisnesses and Entrepreneurs.
      </p>
    </div>
  </div>
</div>
<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <i class="fa fa-code fa-3x fa-border text-muted" style="font-size:130px; margin-right:30px;"></i> 
      <i class="fa fa-flask fa-3x fa-border border-blue text-muted" style="font-size:130px;margin-right:30px;"></i>
      <i class="fa fa-gear fa-3x fa-border text-muted" style="font-size:130px;"></i>
    </div>
  </div>
</div>
<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <h1 id="webdev">Web Development</h1>
      <div class="space"></div>
      <p class="service-text">  
        <i class="fa fa-code fa-3x fa-pull-left fa-border service-icons text-muted"></i>    
Full-stack webdevelopment that spans from frontend-to-backend and everything in-between.  We have complete solutions for desktop, tablet and mobile user data driven apps.  The result is a highly engaging first rate we application experience with the responsiveness that today's user expects on all devices.  
      </p>
    </div>
  </div>
</div>
<hr>
<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-1 pull-right">
      <h1 id="hosting">Hosting</h1>
      <div class="space"></div>
        <p class="service-text">  
          <i class="fa fa-rocket fa-3x fa-pull-left fa-border service-icons text-muted"></i>    
When it comes to hosting we got you covered.  All of our servers have a 99.99% uptimes to keep your web apps running smoothly.  We have many hosting and cloud servers to choose from, each option we provide is customized for your exact business needs.  
      </p>
    </div>
  </div>
</div>
<hr>
<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <h1 id="email_marketing">Email Marketing</h1>
      <div class="space"></div>
      <p class="service-text">  
        <i class="fa fa-envelope-o fa-3x fa-pull-left fa-border service-icons text-muted"></i>    
We keep you in contact with your users with engaging notifications, newsletters, offers, daily deals, and more.  We use top notch software to ensure high quality delivery rate to your users in-boxes.  We use machine learning algorithms when deciding when and what to send to your users which provides a superior level of engagement.  
      </p>
    </div>
  </div>
</div>
<hr>
<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-1 pull-right">
      <h1 id="social_media">Social Media</h1>
      <div class="space"></div>
        <p class="service-text">  
          <i class="fa fa-commenting-o fa-3x fa-pull-left fa-border service-icons text-muted"></i>    
Yes we are social.  We can build you a social media presents.  Facebook, google+, twitter posts, pages, logins, shares, likes and apps is what we can do for your webapp.  You want to build a quiz or game on facebook.  We got you covered.  Any other crazy idea you have contact us and let us help you.    
      </p>
    </div>
  </div>
</div>
<hr>
<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <h1 id="prototyping">Prototyping</h1>
      <div class="space"></div>
      <p class="service-text">  
        <i class="fa fa-eraser fa-3x fa-pull-left fa-border service-icons text-muted"></i>    
Before we build, we prototype.  Prototyping is a skill that doesn't receive enough recognition for its importance.  Prototyping is probably the most important step in building a quality useful webapp that will help your business succeed.  We prototype and test everything before we build.  This ensures our clients are going to be happy with the final product.  
      </p>
    </div>
  </div>
</div>
<hr>
<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-1 pull-right">
      <h1 id="logos">Logos</h1>
      <div class="space"></div>
        <p class="service-text">  
          <i class="fa fa-cubes fa-3x fa-pull-left fa-border service-icons text-muted"></i>    
You want a logo made, we can do that!  Our in-house graphic design team will be able to outfit your company with a logo that will be the brand of your business.  If you already have a logo in mind, contact us to get started on it for you.  
      </p>
    </div>
  </div>
</div>
<a id="back-to-top" href="#" class="btn btn-lg back-to-top" style="color:#fff;background-color:rgba(85,255,157,.8)" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

{% endblock %}
 
