<header style="padding:60px 30px 30px 30px; ">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img class="logo" src="https://placehold.it/330x100" class="img-responsive"></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="menu_link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a class="menu_link" href="{{ url_for('index') }}" class="dropdown-toggle disabled" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="menu_link" href="#webdev"><i class="fa fa-code fa-fw" aria-hidden="true"></i>&nbsp; Web development</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="menu_link" href="#hosting"><i class="fa fa-rocket fa-fw" aria-hidden="true"></i>&nbsp; hosting </a></li>
                <li role="separator" class="divider"></li>
                <li><a class="menu_link" href="#email_marketing"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; email marketing</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="menu_link" href="#social_media"><i class="fa fa-commenting-o fa-fw" aria-hidden="true"></i>&nbsp; social media</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="menu_link" href="#prototyping"><i class="fa fa-eraser fa-fw" aria-hidden="true"></i>&nbsp; prototyping</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="menu_link" href="#logos"><i class="fa fa-cubes fa-fw" aria-hidden="true"></i>&nbsp; logos </a></li>
              </ul>
            </li>
            <li><a class="menu_link" href="{{ url_for('portfolio') }}">Portfolio</a></li>
            <li><a class="menu_link" href="{{ url_for('team') }}">Team</a></li>
            <li><a class="menu_link" href="{{ url_for('contact') }}">Get in Touch</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>
</header>
<hr style="margin-bottom:0;">